html
    head
        title e rental system
        block scripts
        block style
    Body
         #aa.A
            nav#nav.navbar
                ul
                    img(src="/static/logo.png")
                    li
                        a(href='#aa') Home
                    li
                        a(href='#mm') About
                    li
                        a(href='#bb') Services
                    li
                        a(href='#mm') Contact us
                    button.button
                        a(href="/login.html") Login
                    button.button
                        a(href="/login.html") Signup
    block content

    block foot
        #footer
            | Copyright 2023 e rental system by group-14 VIT  | All Rights Reserved