

block scripts 
    script(src='/static/index.js')
    script(src='/static/contact.js')
    script(src='https://kit.fontawesome.com/64d58efce2.js', crossorigin='anonymous')
    script(src='js/jquery.min.js')
    script(src='js/popper.min.js')
    script(src='js/bootstrap.bundle.min.js')
    script(src='js/jquery-3.0.0.min.js')
    script(src='js/plugin.js')
    script(src='js/owl.carousel.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')
    //- block scripts
    script(src='/static/index.js')
    script(src='/static/contact.js')
    script(src='https://kit.fontawesome.com/64d58efce2.js', crossorigin='anonymous')
    script(src='js/jquery.min.js')
    script(src='js/popper.min.js')
    script(src='js/bootstrap.bundle.min.js')
    script(src='js/jquery-3.0.0.min.js')
    script(src='js/plugin.js')
    script(src='js/owl.carousel.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')
    script.
        $(document).ready(function() {
            $(".read_bt a, .see_more a").fancybox();
        });

    script.
        $(document).ready(function() {
            $(".read_bt a, .see_more a").fancybox();
        });

block style 
    style 
        //- include ../static/style.css
        //- include ../static/stylecontact.css
        include ../html/css/bootstrap.min.css
        include ../html/css/style.css
        include ../html/css/responsive.css
        include ../html/css/jquery.mCustomScrollbar.min.css
        include ../html/css/owl.carousel.min.css
        include ../assets/css/custom.css

block content   
    
  body
    // header section start
    .header_section
      .container-fluid
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
          .logo
            a(href='index.html')
              img#logoimage(src='/static/logo.png')
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link(href='/') Home
              li.nav-item
                a.nav-link(href='/about') About
              li.nav-item
                a.nav-link(href='/rent') Products
              li.nav-item
                a.nav-link(href='/about') Blog
              li.nav-item
                a.nav-link(href='/contact1') Contact us
            form.form-inline.my-2.my-lg-0
              button.btn.btn-outline-success.my-2.my-sm-0(type='submit') GET STARTED
            .search_icon
              ul
                li
                  a(href='#')
                    img(src='/static/user-icon.png')
                li
                  a(href='#')
                    img(src='/static/bag-icon.png')
                li
                  a(href='#')
                    img(src='/static/search-icon.png')
      // header section end
      // banner section start
      .banner_section.layout_padding
        .container
          #main_slider.carousel.slide(data-ride='carousel')
            .carousel-inner
              .carousel-item.active
                .row
                  .col-md-6
                    h1.your_text only Pay FOR THE NEED
                    h1.Shows_text # VENDOR 1
                    p.there_text
                      | "Bill Gates, a visionary entrepreneur and philanthropist, co-founder of Microsoft, played a pivotal role in shaping the digital era. Known for his technological innovations and commitment to global health, Gates has left an indelible mark on both the tech industry and humanitarian efforts."
                    .start_bt
                      a(href='#') Start Now
                    .read_bt
                      a(href='#') Read More
                  .col-md-6
                    .images_1
                      img#billgates(src='https://i.pinimg.com/1200x/66/e5/d1/66e5d1a102a411da8b5e220d8afd7244.jpg')
              .carousel-item
                .row
                  .col-md-6
                    h1.your_text only pay FOR THE NEED
                    h1.Shows_text # VENDOR 1
                    p.there_text
                      | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or
                    .start_bt
                      a(href='#') Start Now
                    .read_bt
                      a(href='#' data-fancybox='popup1') READ MORE
                  .col-md-6
                    .images_1
                      img#billgates(src='https://i.pinimg.com/1200x/66/e5/d1/66e5d1a102a411da8b5e220d8afd7244.jpg')
              .carousel-item
                .row
                  .col-md-6
                    h1.your_text only pay FOR THE NEED
                    h1.Shows_text # VENDOR 1
                    p.there_text
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque unde consequuntur optio distinctio recusandae, rerum et explicabo similique facere eveniet exercitationem quibusdam dicta at doloremque, nulla consequatur itaque esse quod fugit velit, quis rem labore? Quo, suscipit error tempora molestias similique ipsam repellendus! Reiciendis aliquam magni nam amet, suscipit ea laboriosam ipsum quod, quisquam quia doloribus adipisci, esse vero necessitatibus consequuntur nemo? Reiciendis repellendus similique odio alias consequuntur nulla commodi exercitationem placeat dolorem, eius dignissimos itaque error architecto officia dicta dolore. Facere esse dolor dolorum. Non nam fugiat accusamus dolorum asperiores perferendis id vel, consectetur unde nesciunt eius repudiandae iste fuga exercitationem sapiente! Quas expedita, quis, alias consequuntur, incidunt natus error vitae officia rerum repellendus quae? Fugit corporis autem tenetur nisi, alias voluptas earum provident soluta nulla, asperiores hic molestiae deserunt, excepturi amet doloribus sit perferendis? Id quia repellat est rem illum provident nulla eveniet consectetur a, numquam tenetur ratione, explicabo sapiente esse accusamus suscipit assumenda aut. Repudiandae adipisci autem optio quae maxime dignissimos veniam, perferendis dolores facere nihil iure iste vel consequatur illum vitae porro sed! Porro amet dignissimos dolor fugit officia sed! Deserunt libero possimus aliquid omnis, ex sed reiciendis quaerat nemo laborum, velit, provident culpa magnam deleniti.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or
                    .start_bt
                      a(href='#') Start Now
                    .read_bt
                      a(href='#') Read More
                  .col-md-6
                    .images_1
                      img#billgates(src='https://i.pinimg.com/1200x/66/e5/d1/66e5d1a102a411da8b5e220d8afd7244.jpg')
            a.carousel-control-prev(href='#main_slider', role='button', data-slide='prev')
              i.fa-arrow-left
                img(src='/static/left-arrow.png')
            a.carousel-control-next(href='#main_slider', role='button', data-slide='next')
              i.fa-angle-right
                img(src='/static/right-arrow.png')
          .banner_section_2
            .row
              .col-lg-4.col-sm-12
                .box_main
                  .internet_icon
                  h4.broadband_text top Product #1
                  p.many_text
                    | Experience cutting-edge technology with our best-selling electronic product, designed for seamless performance and enhanced user convenience
              .col-lg-4.col-sm-12
                .box_main.active
                  .internet_icon1
                  h4.broadband_text.active Top Product #2
                  p.many_text.active
                    | Experience cutting-edge technology with our best-selling electronic product, designed for seamless performance and enhanced user convenience
              .col-lg-4.col-sm-12
                .box_main
                  .internet_icon2
                  h4.broadband_text Top Product #3
                  p.many_text
                    | Experience cutting-edge technology with our best-selling electronic product, designed for seamless performance and enhanced user convenience
      // banner section end
    // about section start
    .about_section.layout_padding#imptochange
      .container
        .row
          .col-md-6
            .image_2
              img#electronicsimg(src='https://w7.pngwing.com/pngs/454/1021/png-transparent-consumer-electronics-gadget-advanced-electronics-electronic-component-others-electronics-laptop-electronic-device-thumbnail.png')
          .col-md-6
            h1.live_text
              | PRODUCTS OVERVIEW
              
            p.lorem_text#needtobebright
              | Discover a curated selection of premium products from our top vendor, showcasing unparalleled quality and innovation. From cutting-edge electronics to lifestyle essentials, our diverse range caters to every need. Elevate your shopping experience with top-tier offerings that redefine excellence in both design and functionality.
            .online_bt_main
              .online_bt
                a(href='#') PREMIUM Products
              .online_bt1
                a(href='#') 200+ Online products
              .read_bt1
                a(href='#') Read More
    // about section end
    // product section start
    .product_section.layout_padding#needtochange
      .container
        h2.tariffs_text Tariffs
        h1.choose_text Choose your plan
        p.lorem_text1
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum, est ac faucibus hendrerit, mauris ante viverra urna, in elementum urna est ut ligula.
        .product_section2
          .row
            .col-lg-4.col-sm-12
              h2.easy_text REGULER
              h1.internet_text ELECTRONICS@
              .month_main.clearfix
                h1.dolor_text $24.99
                h2.month_text Month
                p.long_text
                  | It is a long established f
                  | act distracteontent
              .seemore_main
                .see_more
                  a(href='#popup0') SEE MORE
            .col-lg-4.col-sm-12
              h2.easy_text LONG TERM
              h1.internet_text APPLIANCES@
              .month_main.clearfix
                h1.dolor_text $49.99
                h2.month_text Month
                p.long_text
                  | It is a long established f
                  | act distracteontent
              .seemore_main
                .see_more
                  a(href='#popup1') SEE MORE
            .col-lg-4.col-sm-12
              h2.easy_text PREMIUM
              h1.internet_text EQUIPMENTS@
              .month_main.clearfix
                h1.dolor_text $99.99
                h2.month_text Month
                p.long_text
                  | It is a long established f
                  | act distracteontent
              .seemore_main
                .see_more
                  a(href='#popup2') SEE MORE
    // product section end
    // contact section start
    
    .footer_section.layout_padding
      .container
        .row
          .col-lg-3.col-sm-6
            .fooer_logo
              img#logoimage(src='/static/logo.png')
            h1.customer_text CUSTOMER SERVICE
            p.footer_lorem_text
              | "24/7 Customer Support:
              | Our dedicated team is available
              | around the clock to assist you with
              | any inquiries or concerns.
          .col-lg-3.col-sm-6
            h1.customer_text LET US HELP YOU
            p.footer_lorem_text
              |  Our customer support team is 
              | here to ensure a smooth and 
              | enjoyable experience, ready to
              | assist with any questions 
              |or issues you may encounter
          .col-lg-3.col-sm-6
            h1.customer_text INFORMATION
            p.footer_lorem_text1
              | About Us
              br
              | Careers
              br
              | Sell on shopee
              br
              | Press &amp; News
              br
              | Competitions
              br
              | Terms &amp; Conditions
          .col-lg-3.col-sm-6
            h1.customer_text OUR SHOP
            p.footer_lorem_text
              | "24/7 Customer Support:
              | Our dedicated team is available
              | around the clock to assist you with
              | any inquiries or concerns.
            .social_icon
              ul
                li
                  a(href='#')
                    img(src='/static/fb-icon.png')
                li
                  a(href='#')
                    img(src='/static/twitter-icon.png')
                li
                  a(href='#')
                    img(src='/static/instagram-icon.png')
                li
                  a(href='#')
                    img(src='/static/linkedin-icon.png')
    // footer section end
    // copyright section start
    .copyright_section
      .container
        .border
        p.copyright_text
          | 2023 All Rights Reserved. Design by 
          a(href='https://html.design') VIT group -14
    // copyright section end
    // Javascript files
    script(src='js/jquery.min.js')
    script(src='js/popper.min.js')
    script(src='js/bootstrap.bundle.min.js')
    script(src='js/jquery-3.0.0.min.js')
    script(src='js/plugin.js')
    // sidebar
    script(src='js/jquery.mCustomScrollbar.concat.min.js')
    script(src='js/custom.js')
    // javascript
    script(src='js/owl.carousel.js')
    script(src='https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')

