<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="./shop.css">
</head>
<body>
    <section id="cont">
        <div id="main">
<img src="./images/shirt.jpg" alt="">
<h1>Casual T shirt for Men</h1>
<h3>price : 599 RS</h3>
<button id="display" onclick="display()">Add</button><br>
<p id="alert"></p>







</div>
</section>

    <script src="./shop.js"></script>
</body>
</html>